.Trends {
  padding: 5px 0;
  p {
    color: #e4aeaa;
    font-weight: 600;
    cursor: pointer;
  }
  p:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 850px) {
  .Trends {
    font-size: small;
  }
}
