.SocialMediaBody__PostsBody {
  width: 100%;

  .SocialMediaBody__Loader {
    color: #eb5043;
    margin-top: 50px;
  }

  .Posts__ {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #f1f4f6;
    background: #fff;

    .Post__Comments {
      width: 100%;
      .Post__CommentsNoComments {
        text-align: center;
        margin-bottom: 30px;
      }
      .Post__CommentSection {
        height: 100%;
        max-height: 350px;
        overflow: scroll;
        position: relative;
      }
      .PostCommentsInput {
        display: flex;
        align-items: center;
        padding: 15px;
        background: #f6f8fa;
        width: 100%;
        input {
          flex: 1;
          padding: 15px;
          background: #fff;
          border: none;
          outline-width: 0;
          border-radius: 50px;
        }
        .MuiButtonBase-root {
          padding: 8px !important;
          margin-left: 15px;
          background-color: #eb5043;
          .PostComment__PostIcon {
            color: #fff;
            font-size: large;
          }
        }
      }
      h1 {
        font-size: medium;
        margin-left: 20px;
        margin-bottom: 20px;
        color: #141414;
      }
      .Post__CommentChildren {
        display: flex;
        padding: 25px;
        border-top: 2px solid #f2f4f6;
        .Post__CommentAvatar {
          font-weight: bold;
          background: #c7c7c7;
        }
        .Post__CommentResultDiv {
          margin-left: 10px;
          flex: 1;

          .Post__CommentUsername {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: 5px;
            p {
              font-weight: bold;
              font-size: medium;
              color: #141414;
            }
            span {
              font-size: small;
              color: #979797;
            }
          }
        }

        .Post_CommentAvatarName {
          display: flex;
        }
      }
      .Post__CommentResult {
        background: #f6f8fa;
        padding: 20px;
        border-radius: 25px;
        margin-top: 10px;
        position: relative;
        span {
          position: absolute;
          top: 7px;
          right: 17px;
          font-size: x-small;
          font-weight: 500;
          color: #a8a8a8;
        }
        p {
          font-size: small;
          font-weight: 500;
          line-height: 25px;
          color: #151515;
          padding-top: 5px;
        }
      }
    }
    .Avatar {
      height: 65px;
      width: 65px;
      background-size: cover;
    }
    .Posts__NameInformation {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 25px;
    }
  }

  .Posts__Name {
    display: flex;
    justify-content: space-between;
    position: relative;
    span {
      color: #696969;
      font-size: small;
      font-weight: 500;
      position: absolute;
      top: 0;
      right: 0;
    }
    .Posts__AvatarTitle {
      align-items: center;
      display: flex;
      margin-top: 5px;
      cursor: pointer;
      .Avatar {
        border: 2px solid #f2f4f6;
      }
      .Posts__NameUsername {
        margin-left: 10px;
        h3 {
          color: #141414;
          cursor: pointer;
        }
        h3:hover {
          text-decoration: underline;
        }

        p {
          color: #a7a7a7;
          cursor: pointer;
        }
      }
    }
  }

  .Posts__Image {
    width: 100%;
    height: 350px;
    border-radius: 5px 5px 2px 2px;
    background: url("https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-size: cover;
    background-position: center;
  }
  .Posts__Location {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin-right: 5px;
      color: #696969;
    }
    .LocationIcon {
      color: #ff786d;
      font-size: 28px;
    }
  }
  .Posts__LikesComments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .Posts__Icons {
      display: flex;
    }
    .favourite:hover {
      .HeartIcon {
        color: red;
      }
    }
    .messagebtn:hover {
      .MessageOutline {
        color: #93e2f8;
      }
    }

    .PostIconButton {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      .MuiSvgIcon-root {
        font-size: 25px !important;
      }

      p {
        margin-left: 0px;
        font-size: large;
        margin-bottom: 3px;
        color: #a7a7a7;
        font-weight: 400;
      }

      .MessageOutline {
        color: #a7a7a7;
        transition: 350ms ease-in-out;
      }
      .ShareIcon {
        color: #93e2f8;
        transition: 350ms ease-in-out;
      }
    }
    .messagebtn {
      p {
        margin-bottom: 5px;
      }
    }
    .Posts__Location {
      display: flex;
      p {
        font-size: small;
        font-weight: 500;
      }
    }
    .MuiButtonBase-root {
      padding: 10px;
      .HeartIcon {
        color: #a7a7a7;
        transition: 350ms ease-in-out;
      }
    }
  }
  .Posts__Paragraph {
    margin-top: 10px;
    width: 100%;
    p {
      color: #141414;
      line-height: 27px;
      font-size: medium;
    }
  }
}

@media screen and (max-width: 850px) {
  .Post__CommentsNoComments {
    font-size: small !important;
  }
  .Post__CommentChildren {
    .Post__CommentResult {
      padding: 15px !important;
      p {
        font-size: 12px !important;
        font-weight: 600;
      }
    }

    .Post__CommentResultDiv {
      .Post__CommentUsername {
        p {
          font-size: small !important;
        }
        span {
          font-size: x-small !important;
        }
      }
    }
    .Post_CommentAvatarName {
      .Post__CommentAvatar {
        width: 35px;
        height: 35px;
      }
    }
  }

  .Posts__ {
    .Posts__AvatarTitle {
      margin-top: 20px !important;
    }
    .Posts__DateSpan {
      font-size: x-small !important;
    }

    .Posts__Paragraph {
      p {
        font-size: small;
        font-weight: 500;
      }
    }

    .Posts__AvatarTitle {
      .Avatar {
        height: 50px !important;
        width: 50px !important;
      }
      .Posts__NameUsername {
        h3 {
          font-size: large;
        }
        p {
          font-size: small;
        }
      }
    }
  }
}

@media screen and (max-width: 356px) {
  .Posts__NameInformation {
    padding: 10px 25px 10px 25px !important;
  }
  .Posts__Paragraph {
    p {
      font-size: x-small !important;
    }
  }
  .Posts__LikesComments {
    .Posts__Icons {
      .PostIconButton {
        p {
          font-size: medium !important;
        }
        .MuiSvgIcon-root {
          font-size: 23px !important;
        }
      }
    }
  }

  .PostCommentsInput {
    input {
      font-size: x-small !important;
    }
  }

  .Post__CommentChildren {
    .Post__CommentResultDiv {
      .Post__CommentUsername {
        p {
          font-size: x-small !important;
          font-weight: bold;
        }
        span {
          font-size: xx-small !important;
          font-weight: 500 !important;
        }
      }
    }

    .Post__CommentResultDiv {
      .Post__CommentResult {
        padding: 15px !important;
        p {
          padding-top: 0px !important;
          line-height: 20px !important;
          font-size: x-small !important;
          font-weight: 500 !important;
        }
        span {
          display: none;
        }
      }
    }
  }
  .Posts__Name {
    .Posts__DateSpan {
      display: none !important;
    }
    .Avatar {
      width: 25px !important;
      height: 25px !important;
    }
    .Posts__NameUsername {
      h3 {
        font-size: small !important;
      }
      p {
        font-size: x-small !important;
        font-weight: 500 !important;
      }
    }
  }
}
