nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;

  .NavigationBar__HamburgerMenu {
    display: none;
    .MuiSvgIcon-root {
      font-size: 35px;
      color: #ec4f43;
    }
  }
  .NavigationBar__TitleLogo {
    color: #ec4f43;
    font-size: 30px;
  }
  .NavigationBarUsers {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    .NavigationBarUsers__Avatar {
      background: #eb5043;
      font-weight: bold;
    }
    .NavigationBarUsers__Name {
      margin-left: 10px;
    }
    h4 {
      font-size: medium;
      color: #292929;
    }
    p {
      font-size: small;
      color: #b0b0b0;
      font-weight: 500;
    }
  }

  .NavigationBarUsers:hover {
    background: #f6f8fa;
  }
  .NavigationBar__Modal {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #fff;
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 250px;
    top: 80px;
    max-height: 350px;
    transform: translate(-50%);
    border: 2px solid #f2f4f6;
    border-radius: 5px;
    overflow: scroll;
    z-index: 1;
    .NavigationBar__Spinner {
      color: #eb5043;
      text-align: center;
    }
  }
  .NavigationBar__Input {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f8fa;
    min-width: 300px;
    padding: 6px 15px;
    border-radius: 50px;
    position: relative;

    input {
      padding: 10px;
      width: 100%;
      background: transparent;
      outline-width: 0;
      font-size: 16px;
      border: none;
    }
    .MuiSvgIcon-root {
      color: #b2b3b3;
    }
  }
  .NavigationBar__ProfilePicture {
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiSvgIcon-root {
      font-size: 30px;
    }
    button {
      margin-right: 5px;
    }
    .NavigationBar__NofiticationIcon {
      margin-right: 15px;
    }
  }
}

@media screen and (max-width: 850px) {
  nav {
    padding: 15px !important;
  }

  .NavigationBar__Modal {
    display: none !important;
  }

  .NavigationBar__TitleLogo {
    padding-left: 15px;
  }

  .NavigationBar__HamburgerMenu {
    display: block !important;
  }
  .NavigationBar__Input,
  .NavigationBar__ProfilePicture {
    display: none !important;
  }
}

@media screen and (max-width: 356px) {
  .NavigationBar__TitleLogo {
    font-size: 25px !important;
  }

  .NavigationBar__HamburgerMenu {
    .MuiSvgIcon-root {
      font-size: 30px !important;
    }
  }
}
