.CommentComponent {
  .CommentPosted__Date {
    font-size: small;
    margin-bottom: 5px;
    font-weight: 500;
    color: #141414;
  }
  .CommentComponent__OverlayDiv {
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  .Overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
  }

  .CommentComponent__AvatarName {
    display: flex;
    align-items: flex-start;
    .CommentComponent__Avatar {
      width: 200px;
      height: 200px;
      font-size: 100px;
      font-weight: bold;
      background: #eb5043;
    }
    .CommentComopnent__UsersName {
      text-align: center;
    }
    .CommentComponent__FollowersContainer {
      display: flex;
      margin-top: 15px;
      .CommentComponent__Followers,
      .CommentComponent__Following,
      .CommentComponent__Posts {
        text-align: center;
        padding: 0 15px;
        p {
          color: #141414;
          font-weight: 600;
        }
      }
    }
    .CommentComponent__Name {
      margin-left: 25px;
      margin-top: 20px;

      .CommentComponent__FollowingButton {
        width: 100%;
        background: #eb5043;
        margin-top: 25px;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        border: 2px solid transparent;
        p {
          font-size: medium;
          color: #fff;
        }
        .MuiSvgIcon-root {
          margin-left: 5px;
          margin-bottom: 5px;
        }
      }

      .CommentComponent__FollowingButton:hover {
        background: #fff;
        border: 2px solid #eb5043;
        .MuiSvgIcon-root {
          color: #eb5043;
        }
        p {
          font-size: medium;
          color: #eb5043;
        }
      }

      .CommentComponent__FollowButton {
        width: 100%;
        background: #fff;
        margin-top: 25px;
        color: #fff;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #eb5043;
        text-transform: capitalize;
        p {
          font-size: medium;
          color: #eb5043;
        }
        .MuiSvgIcon-root {
          margin-left: 5px;
          margin-bottom: 5px;
        }
      }
      .CommentComponent__FollowButton:hover {
        background: #eb5043;
        p {
          font-size: medium;
          color: #fff;
        }
      }
      h1 {
        font-size: xx-large;
        color: #141414;
      }
      p {
        font-size: large;
        color: #979797;
      }
    }
  }

  .Comment {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .Comment__Avatar {
      margin-right: 15px;
      .Comment__AvatarPicture {
        width: 40px;
        height: 40px;
        background: #979797;
        font-size: medium;
        font-weight: bold;
      }
    }
    .Comment__TitleReply {
      display: flex;
      align-items: center;
      p {
        color: #a7a7a7;
      }
      .Comment__TitleTime {
        display: flex;
        p {
          font-size: small;
          margin-left: 10px;
        }
      }
      h1 {
        font-size: medium;
        color: #141414;
      }
      p {
        font-size: small;
        margin-left: 10px;
      }
    }
    .Comment__ReplyText {
      p {
        font-size: small;
        margin-top: 5px;
      }
    }
  }

  .Comment:hover {
    background: #fbfafa;
  }
}
