@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.SocialMediaBody__ {
  background: #f6f8fa;
  flex: 1;
  display: flex;

  .SendBtn {
    font-weight: bold;
    color: #fff;
    margin-top: 2px;
    padding: 8px 40px !important;
    background: #eb4233;
    font-size: medium;
    border: 2px solid transparent;
    transition: 350ms ease;
    text-transform: capitalize;
    .SendIcon {
      font-size: 20px;
      margin-left: 8px;
    }
  }
  .SendBtn:hover {
    background: #fff;
    color: #eb4233;
    border: 2px solid #eb4233;
  }

  .Modal {
    .Modal__Overlay {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.8);
    }
    .Modal__Div {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  .SocialMediaBody__Input {
    width: 100%;
  }
  .SocialMediaBody__Overlay {
    position: fixed;
    background: transparent;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .SocialMediaBody__CloseButton {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    .MuiSvgIcon-root {
      font-size: 20px !important;
    }
  }

  .SocialMediaBody__SkeletonLoaders {
    flex: 1;
    margin-right: 50px;
    .MuiSkeleton-root {
      width: 100%;
    }
  }
  .SocialMediaBody__ImageDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    .MuiSvgIcon-root {
      color: #292929;
      font-size: 25px;
    }
    p {
      font-size: 13px;
      color: #292929;
      font-weight: 500;
      padding-left: 5px;
      padding-top: 0.5px;
    }
  }
  .SocialMediaBody__Posts {
    flex: 0.5;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    .SocialMediaBody__InputContainer {
      background: #fff;
      padding: 30px;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #f3f5f7;
      .SocialMediaBody__InputContainerDiv {
        height: 200px;
        .SocialMediaBody__SubmitLoaderSpinner {
          color: #eb5043;
        }
      }
      textarea {
        width: 100%;
        font-size: 17px;
        height: 100%;
        padding: 25px;
        line-height: 25px;
        border: none;
        outline-width: 0;
        resize: none;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }

      .SocialMediaBody__IconsSend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .Icons__ {
          .InputFileBox {
            position: relative;
            input {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              border: none;
              outline: none;
              cursor: pointer;
              opacity: 0;
            }
          }
          .MuiSvgIcon-root {
            color: #c7c7c7;
            font-size: 28px;
          }

          .emoji__picker {
            position: absolute;
            bottom: -150px;
            z-index: 100;
          }
        }
      }
    }
  }
  .SocialMediaBody__ProfileTrends {
    flex: 0.4;
  }
  .SocialMediaBody__OnlineOfflineUsers {
    background: #fff;
    flex: 0.1;
    border-top: 2px solid #f1f4f6;
    border-left: 2px solid #f1f4f6;
  }

  .SocialMediaProfile__Followers {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .Posts {
      text-align: center;
      margin: 0 15px;
      margin-bottom: 30px;
      color: #838383;
      h2 {
        color: #696969;
        font-weight: 600;
      }
    }
  }

  .SocialMediaProfile__Followers.loading {
    width: 100%;
    .Posts {
      width: 100%;
    }
  }

  .SocialMediaBody__ProfileTrends {
    padding: 30px 0;
    padding-right: 40px;
    display: flex;
    flex-direction: column;

    .SocialMediaBodyProfile__Header {
      position: relative;
      height: 150px;
      background: #eb5043;
      background-size: cover;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;

      h1 {
        font-size: xx-large;
      }
      .MuiSkeleton-root {
        height: 100%;
        width: 100%;
      }
    }
    .SocialMediaBodyProfile__Profile {
      background: #fff;
      width: 100%;
      border: 2px solid #f1f4f6;
      border-radius: 5px;
    }

    .Suggestions__AddButton.Following {
      .Suggestions__CheckIcon {
        color: #eb5043;
        font-size: 30px;
        font-weight: bold;
      }
    }

    .SocialMediaProfile__Info {
      display: flex;
      justify-content: center;
      .Avatar__Div {
        position: relative;
      }
      .Avatar__Skeleton {
        height: 100%;
        width: 100%;
        background: #e3e3e3;
      }
      .AvatarProfile {
        position: relative;

        .Avatar__Div {
          position: absolute;
          top: -35px;
          border: 2px solid #fff;
          height: 100px;
          width: 100px;
          background-size: cover;
          text-transform: uppercase;
          border-radius: 50px;
          .Avatar {
            height: 100%;
            width: 100%;
            font-size: 50px;
            background: #eb5043;
            cursor: pointer;
            background-size: cover !important;
            background-position: center;
          }

          .Avatar__Edit {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: 50px;
            background: rgba(0, 0, 0, 0.85);
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 350ms ease;
            opacity: 0;
            input {
              position: absolute;
              width: 100%;
              height: 100%;
              outline-width: 0;
              border: none;
              opacity: 0;
              cursor: pointer;
            }

            p {
              font-size: medium;
              display: flex;
              justify-content: center;
              align-items: center;
              .MuiSvgIcon-root {
                font-size: large;
                margin-right: 2px;
              }
            }
          }
        }
        .Name {
          .Name__H1_Icon {
            display: flex;
            align-items: center;
            .MuiSvgIcon-root {
              margin-left: 7px;
              font-size: 20px;
              color: #eb4233;
            }
          }

          margin-left: 115px;
          h1 {
            color: #131313;
            font-size: 30px;
          }
          p {
            color: #979797;
            font-weight: 600;
          }
        }
      }

      .AvatarProfile.skeleton {
        width: 100%;
        max-width: 80%;
        padding-top: 10px;
        .SocialMediaBody__Skeleton {
          width: 100%;
        }
      }
    }
  }

  .SocialMediaBody__Suggestions {
    background: #fff;
    border: 2px solid #f1f4f6;
    margin-top: 30px;

    .SocialMediaBody__SuggestionsResults {
      flex: 1;
      max-height: 300px;
      overflow: scroll;
    }
    h3 {
      color: #131313;
      font-size: 23px;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 25px;
    }
  }

  .SocialMediaBody__Trends {
    background: #fff;
    border: 2px solid #f1f4f6;
    margin-top: 10px;
    padding: 15px;
    .SocialMediaBody__TrendsBody {
      padding-top: 7px;
    }
    h3 {
      font-size: 23px;
    }
  }

  .SocialMediaBody__OnlineOfflineUsers {
    .SocialMediaBody__Online {
      padding: 10px;
      .SocialMediaBody__OnlineText {
        color: #eb5043;
        font-weight: bold;
        font-size: large;
        margin-bottom: 5px;
        margin-top: 10px;
        padding: 10px;
      }
    }
  }
}
.OfflineUsers {
  background: yellow;
}

.SocialMediaBody__CloseIcon {
  display: none !important;
}

.LoadingScreen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #eb4233;
  z-index: 10;
  display: grid;
  place-items: center;
  .LoadingScreen__Circular {
    color: #fff;
  }
  .LoadingScreen__Logo {
    width: 100%;
    max-width: 350px;
    h1 {
      color: #fff;
      font-size: 65px;
      text-align: center;
      margin-bottom: 15px;
    }
    .LoadingScreen__Linear {
      color: #fff;
    }
  }
  .MuiLinearProgress-bar {
    background: #fff;
  }
  .MuiLinearProgress-colorSecondary {
    background-color: rgb(255, 174, 202);
  }
}

.Avatar__Div:hover {
  .Avatar__Edit {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 371px) {
  .LoadingScreen {
    .LoadingScreen__Logo {
      width: 100%;
      max-width: 200px;
      h1 {
        color: #fff;
        font-size: 40px;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .SocialMediaBody__OnlineOfflineUsers {
    flex: 0.05 !important;
  }
  .SocialMediaBody__ProfileTrends {
    flex: 0.55 !important;
  }
}

@media screen and (max-width: 1080px) {
  .SocialMediaBody__OnlineOfflineUsers {
    display: none;
  }
  .SocialMediaBody__ProfileTrends {
    flex: 0.5 !important;
  }
}

@media screen and (max-width: 850px) {
  .CommentComponent {
    display: none !important;
  }
  .SocialMediaBody__SendParagraph {
    display: none !important;
  }

  textarea {
    font-size: small !important;
  }

  .SocialMediaBody__Posts {
    flex: 0.5;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    .SocialMediaBody__InputContainer {
      .SocialMediaBody__InputContainerDiv {
        height: 200px;
        .SocialMediaBody__SubmitLoaderSpinner {
          color: #eb5043;
        }
      }
      textarea {
        width: 100%;
        font-size: 17px;
        height: 100%;
        padding: 25px;
        line-height: 25px;
        border: none;
        outline-width: 0;
        resize: none;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }

      .SendBtn {
        padding: 8px 5px !important;
        border-radius: 5px !important;
        min-width: 40px !important;
      }
    }
  }

  .SendIcon {
    margin-left: 0px !important;
    width: 25px !important;
  }
  .SocialMediaBody__CloseIcon {
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
    background: #eb4233 !important;
    width: 30px;
    height: 30px;
    display: flex !important;
    .SocialMediaBody__CloseIconMuiSvg {
      color: #fff;
      font-size: large;
      font-weight: bold;
    }
  }

  .Icons__ {
    button {
      margin: 0px !important;
    }

    .Emoji__Button {
      display: none !important;
    }
    .MuiSvgIcon-root {
      font-size: 25px !important;
    }
  }

  .SocialMediaBody__Suggestions {
    h3 {
      font-size: medium !important;
      margin-bottom: 0px !important;
    }
  }

  .SocialMediaBody__Trends {
    h3 {
      font-size: medium !important;
    }
  }
  .overlayNavBar {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none !important;
    transition: 350ms ease !important;
  }
  .SocialMediaBody__ProfileTrends {
    z-index: 3;
    position: fixed;
    opacity: 1 !important;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px !important;
    margin: 0px !important;
    max-width: 300px;
    overflow: scroll;
    border-radius: 0px !important;
    transform: translateX(100%);
    transition: 350ms ease !important;
    background: black !important;
    .SocialMediaBody__Trends {
      margin-top: 0px !important;
      flex: 1;
    }
    .SocialMediaBodyProfile__Profile {
      border-radius: 0px !important;
      padding-top: 30px !important;
    }
    .SocialMediaBody__Suggestions {
      margin-top: 0px;
      border: none !important;
    }
    .AvatarProfile {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column;
      width: 100%;
    }
    .Avatar__Div {
      position: static !important;
      background: black !important;
      margin-bottom: 10px;
      margin-top: 20px;
      .Avatar__Edit {
        top: 10px !important;
        right: 50px !important;
        opacity: 1 !important;
        height: 50px !important;
        width: 50px !important;
        background: none !important;
        .MuiSvgIcon-root {
          color: #eb4233;
        }
        span {
          display: none;
        }
      }
    }
    .SocialMediaBodyProfile__Header {
      display: none !important;
    }
    .SocialMediaProfile__Followers {
      display: none;
    }
    .Name {
      margin: 0 auto !important;
      width: 100%;
      padding-bottom: 25px;
      p {
        font-size: small !important;
        width: 100%;
        text-align: center;
      }
      .Name__H1_Icon {
        width: 100% !important;

        h1 {
          width: 100%;
          text-align: center !important;
          font-size: large !important;
        }
      }
    }
  }

  .SocialMediaBody__ProfileTrends.active {
    opacity: 1 !important;
    transform: translateX(0%) !important;
  }
  .overlayNavBar.active {
    opacity: 1 !important;
    pointer-events: all !important;
  }

  .SocialMediaBody__Posts {
    flex: 1 !important;
  }
}

@media screen and (max-width: 357px) {
  textarea {
    font-size: x-small !important;
    font-weight: bold !important;
  }

  .SocialMediaBody__Posts {
    overflow: hidden !important;
  }

  .SocialMediaBody__Posts {
    padding: 25px !important;
    .SocialMediaBody__InputContainer {
      textarea {
        font-weight: 500 !important;
      }

      .SendBtn {
        padding: 8px 5px !important;
        .MuiSvgIcon-root {
          font-size: small !important;
        }
      }
    }
  }
}
